<h1>TOOL KIT</h1>
<button ng-click="someOtherFunction()">cancel</button>
<button ng-click="someOtherFunction()">SHARE ON FACEBOOK</button>
    <form>
      <button id="clear" onclick="event.preventDefault(); window.atrament.clear();">clear</button><br>
      <label>Thickness</label><br>
      <input type="range" min="1" max="40" oninput="window.atrament.weight = parseFloat(event.target.value);" value="2" step="0.1" autocomplete="off"/><br>
      <label>Smoothing</label><br>
      <input type="checkbox" onchange="window.atrament.smoothing = event.target.checked;" checked autocomplete="off"><br>
      <label>Adaptive stroke</label><br>
      <input type="checkbox" onchange="window.atrament.adaptiveStroke = event.target.checked;" checked autocomplete="off"><br>
      <label>Mode</label>
      <select onchange="window.atrament.mode = event.target.value;">
        <option value="draw" default>Draw</option>
        <option value="fill" default>Fill</option>
        <option value="erase" default>Erase</option>
      </select><br>
      <label>Color</label>
      <input type="color" onchange="window.atrament.color = event.target.value;" value="#000000" autocomplete="off"><br>
      <label>Opacity</label><br>
      <input type="range" min="0" max="1" onchange="window.atrament.opacity = parseFloat(event.target.value);" value="1" step="0.05" autocomplete="off">
    </form>
    <canvas id="sketcher"></canvas>

<button ng-click="toImage()">SAVE</button>
<button ng-click="someOtherFunction()">SUBMIT</button>