<canvas width="512" height="512" id="canvas" drawing></canvas>
<button ng-click="getPNG()">SAVE</button>

<!-- <div class="form">
    <form>
      <button id="clear" onclick="event.preventDefault(); window.atrament.clear();">clear</button>
      <label>Thickness</label>
      <input type="range" min="1" max="40" oninput="window.atrament.weight = parseFloat(event.target.value);" value="2" step="0.1" autocomplete="off"/>
      <label>Smoothing</label>
      <input type="checkbox" onchange="window.atrament.smoothing = event.target.checked;" checked autocomplete="off">
      <label>Adaptive stroke</label>
      <input type="checkbox" onchange="window.atrament.adaptiveStroke = event.target.checked;" checked autocomplete="off">
      <label>Mode</label>
      <select onchange="window.atrament.mode = event.target.value;">
        <option value="draw" default>Draw</option>
        <option value="fill" default>Fill</option>
        <option value="erase" default>Erase</option>
      </select>
      <label>Color</label>
      <input type="color" onchange="window.atrament.color = event.target.value;" value="#000000" autocomplete="off">
      <label>Opacity</label>
      <input type="range" min="0" max="1" onchange="window.atrament.opacity = parseFloat(event.target.value);" value="1" step="0.05" autocomplete="off">
    </form>
</div> -->


  <div class="drawingTools">
    <div class="brushes">
      <div class="brushContainer smallBrushContainer" ng-click="setStrokeWidth('small', '4')">
        <div class="brush smallBrush" ng-class="{brushSelected: brushes.small}"></div>
      </div>
      <div class="brushContainer mediumBrushContainer" ng-click="setStrokeWidth('medium', '14')">
        <div class="brush mediumBrush" ng-class="{brushSelected: brushes.medium}"></div>
      </div>
      <div class="brushContainer largeBrushContainer" ng-click="setStrokeWidth('large', '30')">
        <div class="brush largeBrush" ng-class="{brushSelected: brushes.large}"></div>
      </div>
      <div class="brushContainer eraserBrushContainer" ng-click="setStrokeWidth('smallBrush', '10')">
        <div class="brush eraserBrush"></div>
      </div>
    </div>
    <div class="colorPalette">
      <div class="colorsContainer">
        <div class="color red" ng-click="setColor('red', 'red')" ng-class="{colorSelected: colors.red}"></div>
        <div class="color orange" ng-click="setColor('orange', 'orange')" ng-class="{colorSelected: colors.orange}"></div>
        <div class="color yellow" ng-click="setColor('yellow', 'yellow')" ng-class="{colorSelected: colors.yellow}"></div>
        <div class="color green" ng-click="setColor('green', 'green')" ng-class="{colorSelected: colors.green}"></div>
        <div class="color blue" ng-click="setColor('blue', 'blue')" ng-class="{colorSelected: colors.blue}"></div>
        <div class="color black" ng-click="setColor('black', 'black')" ng-class="{colorSelected: colors.black}"></div>
      </div>
      <div class="opacitySliderContainer">
        <input class="slider" type="range" ng-model="opacity" onChange="setTransparency()" min="0" max="1" value="1" step="0.01">
      </div>
    </div>
  </div>