$light-grey-background: #e2e2e2;
$border-grey: rgba(0,0,0,0.3);
$banner-background: #f4f7fc;
/*banner, add yours button*/
$dark-grey-text: #4b4c4f;
$font-main: 'Raleway';
$modal-background: rgba(0, 0, 0, 0.5);
$popup-background: white;
$progressbar-container: #cecece;
$theme-color: lightseagreen;
/*progress bar*/
$selected-colors-light: #3d3d3c;
$selected-colors-dark: white;
$logo-grey: #505860;
$logo-pink: #EC0078;
$logo-ar-font: 'Dancing Script';
$logo-font: 'Raleway';

/*color palette*/
$color-1-1: red;
$color-1-2: orange;
$color-1-3: yellow;
$color-1-4: green;
$color-1-5: saddlebrown;
$color-1-6: black;
$color-2-1: purple;
$color-2-2: violet;
$color-2-3: deeppink;
$color-2-4: aqua;
$color-2-5: lightseagreen;
$color-2-6: white;
$color-2-7: saddlebrown;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway';
  /*max-width: 310px;*/
  /*max-height: 352px;*/
  background-color: $light-grey-background;
}

video {
  // width: 100 !important;
  height: 100vh !important;
  top: 50px;
  left: 0;
  z-index: -2;
}

#cameraCanvas {
  height: 100vh !important;
  top: 50px !important;
  left: 0;
  z-index: -1;
}

#canvas{
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: 100vw;
  /*width: 100%;*/
  border-bottom: 1px solid $border-grey;
  border-top: 1px solid $border-grey;
  background-color: #FFF;
  /*box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);*/
  z-index: 100;

}

.main_body {
  margin-top: 50px;
}

.start_drawing {
  position: fixed;
  top: 600px;
  z-index: 3;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: $banner-background;
  color: $dark-grey-text;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 12px;
  z-index: 20000 !important;
}

.banner_title {
  display: inline;
  line-height: 50px;
  font-size: 32px;
  font-family: $font-main;
  vertical-align: center;
}

/*.logo {
  display: flex;
  align-items: center;
}*/

.logoImage {
  height: 30px;
}

.menuIcon {
  display: flex;
  height: 28px;
  z-index: 1000;
}


.dropDownMenu {
  top: 50px;
  right: 0;
  background-color: $banner-background;
  border-radius: 0px 0px 2px 2px;
  z-index: 2000;
}


.dropDownMenu a {
  text-decoration: none;
  font-family: $logo-font;
  font-size: 16px;
  color: $logo-grey;
  display: block;
  padding: 10px 15px;
  border-top: solid 1px $light-grey-background;

}

.dropDownMenu a:active {
  color: white;
  background-color: $logo-pink;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.menuFixed {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 2000 !important;
}

.menuAbsolute {
  position: absolute;
}

.aboutus {
  padding: 20px;
  top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: $light-grey-background;
  text-align: justify;
}

.howtouse{
  position: absolute;
  top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: $light-grey-background;
  text-align: justify;
  padding: 30px 33px 30px 30px;
}

.addContainer {
  background-color: $banner-background;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: fixed;
  right: -100px;
  bottom: -100px;
  cursor: pointer;
  /*opacity: .7;*/
  text-align: center;
  padding-left: 30px;
  padding-right: 105px;
  padding-top: 40px;
  font-size: 18px;
  color: $logo-grey;
  font-family: $font-main;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.addContainer:active {
  color: white;
  background-color: $logo-pink;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.add_your_own_button{
  display: block;
  /*background-color: purple;*/
  text-decoration: none;
  font-family: $font-main;
  color: $dark-grey-text;
  opacity: 1;
  position: relative;
  top: 30px;
  left: 20px;
  width: 75px;
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.canvasContainer {
  position: relative;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 50% 30% 20%;
  z-index: -1;
}


#sketcher {
  position: fixed;
  left: 500px;
  border: solid black 2px;
  width: 640px;
  height: 480px;
  z-index: 1;
}

// FROM ATRAMENT HTML:

// canvas {
//   width: 100vw;
//   height: 100vw;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 2;
// }

form {
  position: relative;
  z-index: 3;
  // top: 300;
  // left: 100;
  width: 640px;
  background: $border-grey;
  padding: 1em;
  color:white;
}

form * {
  margin-bottom: 1em;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  form * {
    font-size: 1.5em;
  }
}

#clear {
  display: none;
}

@media (min-width: 730px) {
  #canvas {
    width: 100vw;
    height: 50vw;
  }
}


.drawingTools {
  border-top: 1px solid $border-grey;
  height: 100px;
  width: 100%;
  background-color: grey;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  /*padding: 10px 10px 0 10px;*/
}

.brushesNbuttons {
  display: flex;
  flex-direction: column;
  width: 43%;
  /*background-color: pink;*/

}

.brushes {
  width: 100%;
  height: 50%;
  /*background-color: yellow;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 15px 10px 8px 10px;
}

.saveButton {
  /*margin-left: 5px;*/
}

.toolkitButtonsContainer {
  padding: 7px 12px 10px 10px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*background-color: salmon;*/
}

.toolkitButton {
  width: 46%;
  height: 90%;
  background-color: rgba(192, 192, 192, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-family: Arial;
  font-size: 16px;
  border: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.toolkitButton:active {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.brushContainer {
  width: 35px;
  height: 35px;
  /*background-color: purple;*/
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.smallBrushContainer {
  width: 23px;

  /*background-color: red;*/
}

.mediumBrushContainer {
  width: 30px;
}

.brush {
  border-radius: 50%;
  border: solid 2px black;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.brushSelected {
  background-color: black;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.eraserSelected {
  background-image: url('../img/ximga.png');
  background-size: 125% 126%;
  background-position: 40% 44%;
  /*background-color: red;*/
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.eraserNotSelected {
  background-image: url('../img/ximg.png');
  background-size: 28px 28px;
  background-position: center;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.smallBrush {
  height: 12px;
  width: 12px;
}
.mediumBrush {
  height: 20px;
  width: 20px;
}
.largeBrush {
  height: 24px;
  width: 24px;
}

.eraserBrushContainer {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  /*margin-left: 3px;*/
}

.eraserBrush{
  height: 28px;
  width: 28px;
  /*background-color: green;*/
  border: none;
  border-radius: 0%;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.undoBtn{
  height: 30px;
  width: 30px;
  /*background-color: green;*/
  border: none;
  background-image: url('../img/undo.png');
  background-size: 30px 30px;
  background-position: center;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.colorPalette {
  padding: 5px 10px;
  width: 57%;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $border-grey;
  /*background-color: purple;*/
}

.colorsContainer {
  /*background-color: yellow;*/
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.row1 {
  /*padding-top: 5px;*/
}

.row2 {
  /*padding-bottom: 5px;*/
}


.opacitySliderContainer {
  /*background-color: white;*/
  height: 50%;
/*  display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
  width: 95%;
  margin: auto;
  padding-top: 10px;

}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 7px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 7px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

.color {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.colorSelected {
  border: 2px solid $selected-colors-dark;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.colorSelectedLight {
  border: 2px solid $selected-colors-light;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.color11 {
  background-color: $color-1-1;
}
.color12 {
  background-color: $color-1-2;
}
.color13 {
  background-color: $color-1-3;
}
.color14 {
  background-color: $color-1-4;
}

.show {
  display:block;
}

.color15 {
  background-color: $color-1-5;
}
.color16 {
  background-color: $color-1-6;
}

.color21 {
  background-color: $color-2-1;
}

.color22 {
  background-color: $color-2-2;
}
.color23 {
  background-color: $color-2-3;
}
.color24 {
  background-color: $color-2-4;
}
.color25 {
  background-color: $color-2-5;
}
.color26 {
  background-color: $color-2-6;
}

/*Saving Modal*/
.savingModal {
  position: fixed;
  background: $modal-background;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.savingModalShowing {

}

.savingModalHidden {
  visibility: hidden;
  /*display: none;*/
}

.savingPopup {
  background-color: $popup-background;
  width: 60%;
  height: 130px;
  margin: 62% auto;
  padding: 30px;
  text-align: left;
  border-radius: 3px;
}

.progressBar {
  /*display: inline-block;*/
  height: 30px;
  width: 100%;
  border: 1px solid $progressbar-container;
  border-radius: 2px;
}

.progress {
  height: 28px;
  background-color: $logo-pink;
  /*width: 10%;*/

 /* animation-name: makeProgress;
  animation-duration: 2s;
  animation-delay: 0.6s;*/
  /*animation-iteration-count: infinite;*/

  transition: width 1.7s;

  /*transition-delay: 1s;*/
}

.progressMoving {
  width: 100%;
  transition: width 1.7s;
}

.progressNotMoving {
  width: 3%;
  transition: width 1.7s;
}


/*@keyframes makeProgress {
  0% {width: 0%; border-radius: 2px 0 0 2px;}
  100% {width: 100%; border-radius: 2px;}
}*/

.savingMessage{
  line-height: 30px;
  vertical-align: center;
  margin-right: 10px;
}


/*selecting tile page */

.selectionInstructionsContainer{
  margin-top: 50px;
  padding: 15px;
  font-size: 18px;
  color: $logo-grey;
  font-family: $logo-font;

}

.artWallContainer {
  position: relative;
  top: 50px;
  padding-bottom: 20px;
}

/*Not available modal*/
.notAvailableModal {
  position: fixed;
  background: $modal-background;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.notAvailableModalShowing {
  visibility: visible;
}

.notAvailableModalHidden {
  visibility: hidden;
  /*display: none;*/
}

.notAvailablePopup {
  background-color: $popup-background;
  width: 60%;
  height: 140px;
  margin: 62% auto;
  padding: 30px;
  text-align: left;
  border-radius: 3px;
}

.notAvailableMessage {
  line-height: 20px;
  vertical-align: center;
  margin-right: 10px;
  font-family: $logo-font;
  color: $logo-grey;
  text-align: justify;
  text-justify: inter-word;
  width: 100%;
  display: inline-block;
}

.notAvailableBtn {
  font-family: $logo-font;
  color: $logo-grey;
  font-size: 16px;
  border: solid 1px $border-grey;
  background: none;
  width: 50px;
  height: 25px;
  border-radius: 2px;
  float: right;
  margin-top: 25px;

}

.notAvailableBtn:active {
  color: white;
  background-color: $logo-pink;
}

h1 {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Raleway';
  color: #505860;
  font-size: 24px;
}

.historyGridContainer {
  margin-left: 5px;
}

.selectionGridContainer {
  margin-left: 3px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vw;
  padding: 0px;
}

.optionsGrid, .scene {
  /*width: 100%;*/
  height: 100%;
  margin: auto;
  display: grid;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 32% 32% 32% 32%;
/*  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;*/
}

.tileOptionContainer {

}

.tileOptionImg, .sceneTile {
  width: 100%;
  height: 100%;
}

/*.tileOptionImg:hover {
  border: 4px solid white;
}*/

/*.tileOptionImg:active {

}*/

.tileAvailable {
  /*opacity: 1;*/
  border: 2px solid white;
}

.tileNotAvailable {
  opacity: 0.5;
  /*border: 2px solid red;*/
}

.tileNotAvailableMsg {
  display: none;
}

.tileAvailableMsg {
  /*display: none;*/
}

.claimMsg {
  font-family: Helvetica;
  font-size: 18px;
  position: relative;
  color: white;
  left: 20px;
  top: 60px;
}

.cancelButton{
  position: fixed;
  top: 50px;
  right: 0;
  width: 30px;
  height: 31px;
  background-color: grey;
  font-size: 26px;
  padding: 0;
  line-height: 21px;
  padding-right: 5px;
  text-align: right;
  border-radius: 2px 0px 2px 20px;
  padding-top: 1px;
  opacity: 0.7;
  color: black;
  z-index: 1000;
}

.cancelButton:active {
  opacity: 1;
  color: white;
  background-color: $logo-pink;
}

.invisi {
  font-family: 'Raleway';
  color: #505860;
  font-size: 30px;
}


.ar {
  color: #EC0078;
  font-family: 'Dancing Script';
  font-weight: 700px;
  /*width: 40px;*/
  position: relative;
  left: 3px;
  font-size: 32px;
}

.t {
  font-family: 'Raleway';
  position: relative;
  left: 5px;
  color: #505860;
  font-size: 30px;
}

.aboutus {
  position: absolute;
  top: 50px;
  padding: 30px 33px 30px 30px;
}

.heading1 {
  font-size: 22px;
  color: $logo-grey;
  font-family: $font-main;
  margin-bottom: 10px;
}

.team {
  margin-bottom: 20px;
}

.heading2 {
  font-size: 20px;
  color: $logo-grey;
  font-family: $font-main;
}

.description {
  font-size: 17px;
  color: $logo-grey;
  font-family: $font-main;
  margin-bottom: 30px;
}

.headshot {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 310px;
  height: 200px;
  background-position: center;
  border-radius: 2px;
  box-shadow: 0px 4px 10px #4b4c4f;
}

.kristin {
  background-image: url('../img/kristin2.jpg');
  background-size: 340px;
  background-position: 31% 76%;
}

.keith {
  background-image: url('../img/keith2.jpg');
  background-size: 328px;
  background-position: 51%;
}

.john {
  background-image: url('../img/john2.jpg');
      background-size: 337px;
    background-position: 30% 96%;
}

.oksana {
  background-image: url('../img/oksana2.jpg');
      background-size: 320px;
    background-position: 100% 8%;
}

.crossout {
  text-decoration: line-through;
}