<div>
  <h1>LOGIN</h1>
  <button ng-click="someOtherFunction()">cancel</button>

  <!-- FACEBOOK LOGIN BUTTON/LINK-->
  <div class="fb-login-button" data-max-rows="1" data-size="large"    data-button-type="login_with" data-show-faces="false"         data-auto-logout-link="true" data-use-continue-as="true"></div>

  <!-- <input type="text" placeholder="username" ng-model="username">
  <input type="text" placeholder="password" ng-model="password">
  <button ng-click="differentFunction()">Login</button>
  <h3>Need an account?</h3>
  <button ng-click="anotherTotallyDiffFunction()">Register</button> -->
</div>