.body_content {
  position: relative;
  width: 640px;
  height: 480px; }

#video, #drawingCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.drawingCanvas {
  background-image: url(../img/add.png); }

#mySketcher {
  border: solid black 2px; }
