<div class="selectionInstructionsContainer">
  <p class="selectionMsg">Pick a spot for your awesome art!</p>
</div>
<div class="selectionGridContainer">
  <div ng-controller="SelectionController" class="optionsGrid">
    <div class="tileOptionContainer" ng-repeat="photo in photoURLs">
      <!-- <p class="claimMsg" ng-class="{tileAvailableMsg: {{photo.clean}}, tileNotAvailableMsg: !{{photo.clean}} }" >CLAIM</p> -->
      <img class="tileOptionImg" id="{{photo.id}}" src="{{photo.url}}" alt="photo" ng-click="loadCanvas($event)" ng-class="{tileAvailable: {{photo.clean}}, tileNotAvailable: !{{photo.clean}} }">
    </div>
  </div>
</div>

<!-- KEEP FOR WHEN WE FIGURE OUT ANGUALAR REFRESH WITH PROMISES -->

<!-- <div id="alertModal" class="notAvailableModal" ng-class="{notAvailableModalShowing: alertModalShow, notAvailableModalHidden: !alertModalShow}" ng-click="refresh()">
  <div class="notAvailablePopup">
    <p class="notAvailableMessage">Oops! Someone just claimed that spot.</p>
    <button class="notAvailableBtn" ng-click="refresh()">OK</button>
  </div>
</div> -->


