<div id="introPopUpModal" class="introPopUpModal" ng-class="{introPopUpModalShowing: introPopUpOpen, introPopUpModalHidden: !introPopUpOpen}">
  <div class="introPopUp">
    <div class="closeBtn" ng-click="closeIntroPopUp()">&times</div>
    <p class="introPopUpMsg">To see invisiARt, print out or display this <a target="_blank" href="/img/invisiart_marker.pdf"> marker</a> on another device and point your camera at it.</p>
    <img class="introPopUpImg" src="../../img/invisiart_marker.jpg">
  </div>
</div>
<div id="canvas_body" class="main_body">
  <div id="canvasContainer">
    <canvas id="cameraCanvas"></canvas>
  </div>
  <!-- <a class="add_your_own_button" ng-href="/selection"> </a>  -->
  <div class="addContainer" ng-click="addBtn()">Add Yours</div>
</div>

